body, h2, p, ul, li, table {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

/* Header styles */
header {
  background-color: #21103063;
  color: white;
  padding: 5px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
  
}

li a:hover {
  color: black;
  
}

nav a {
  text-decoration: none;
  color: white;
}

.header-image {
 
  background-size: cover;
  background-position: center;
  text-align: left;
  padding: 25px 0;
  color: black;
}

/* Content section styles */
.section {
  padding: 50px 0;
  background-color: #f9f9f9;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Footer styles */
footer {
  background-color: #21103063;
  color: white;
  padding: 20px 0;
  margin-top: auto;
  
}

.footer-content {
  max-width: 1200px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  
}

.footer-logo img {
  max-width: 80px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  
}
.footer-links a:hover {
  color: black;
  text-decoration: none;
  margin-right: 20px;
  
}

#search{
  margin-left: auto;
  display: flex
}



.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}



form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

input.login-container {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #222;
}

.registration-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-logo img {
  max-width: 300px;
}
h1{
  font-family: monospace;
  text-align: center;
 
}
.header-logo{
  display: flex; 
  align-items: center; 
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 50px;
  width: 600px; 
  height: 300px; 
  overflow: hidden; 
}

.carousel {
  display: flex;
  overflow: hidden;
}

.carousel img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1; /* Add this line */
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}


.table-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

thead {
  background-color: #f0f0f0;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #21103063;
  width: 300px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
#loginBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.video-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

iframe {
  margin-right: auto; /* Push the div to the right */
  background-color: #e0e0e0;
  padding: 10px;
}

#map-container, #small-map-container {
  margin-top: 20px;
}

.maps-widget {
  
  padding: 200px;
  box-sizing: border-box;
}


.maps-widget {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Calendar Container */
.calendar-container {
  position: relative;
  margin-top: 20px;
  padding-bottom: 75%;
  overflow: hidden;
  box-sizing: border-box;
}

/* iFrame inside Calendar Container */
.calendar-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 10px); /* Adjust this value to give more room on the sides */
  height: calc(100% - 10px); /* Adjust this value to give more room on the top and bottom */
}

.nav-links {
  display: inline-flex;
  list-style: none;
  gap: 20px; /* Spacing between links */
}
.nav-links a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.nav-links a:hover {
  background-color: #444;
  color: black;
}
.video-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}



/* News Content Styles */
.content-news {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.content-news h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.content-news p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
  align-items: center
}
.scrollToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.7;
  z-index: 1000;
}

.scrollToTopButton:hover {
  opacity: 1;
}

.weather-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
  transition: background 0.5s ease;
  position: fixed;
  top: 70px;
  right: 20px;
}

.weather-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.weather-temp {
  font-size: 1.2em;
  font-weight: bold;
}

.loading-text {
  font-size: 1em;
  color: #777;
}
.weather-widget:hover {
  background: linear-gradient(orange, blue);
}

.error-boundary-container {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.error-boundary-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.error-boundary-container p {
  font-size: 16px;
}